body {
  background-image: image-url("restaurant.jpg");
  background-size: cover;
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #FFFFE0;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.nav-pills-center{
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.edit_user img {
  width: 50px;
  margin: 10px;
}

.my-restaurant img {
  height: 50px;
}

.my-restaurant{
  display:inline-block;
  padding: 7px 7px 0 7px;
  text-align: center;
}
